@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
/* Tailwind will be applied in a separate step */
/* The directives below will be processed by the Tailwind CLI */
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Google Sans Code', monospace;
}
@import "../styles/_home";
@import "../styles/_register.scss";
@import "../styles/_dashboard.scss";
@import "../styles/_help.scss";
@import "../styles/_about.scss";
@import "../styles/_services.scss";
@import "../styles/_courses.scss";
@import "../styles/_students.scss";
